VITE_FIREBASE_API_KEY="AIzaSyAmq_rU-IHvov1rbnZs334AK3q56JGpgzQ"
VITE_FIREBASE_AUTH_DOMAIN="kisanslot-f8f10.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="kisanslot-f8f10"
VITE_FIREBASE_STORAGE_BUCKET="kisanslot-f8f10.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="826076596965"
VITE_FIREBASE_APP_ID="1:826076596965:web:c42a6e6d0291003a99620c"
